# Fichiers système
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Database
instance/*.db

# Uploads
uploads/

# IDE & OS files
*.pyc
__pycache__/
.DS_Store

# Dépendances
/build/
venv/
env/
.venv/
pip-wheel-metadata/

# IDE
.vscode/
.idea/

# Logs et bases de données
*.log
*.tmp
*.sqlite3