<!-- File: templates/partials/footer.html -->
<footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <ul class="list-inline mb-3">
        <li class="list-inline-item"><a href="{{ url_for('main.home') }}" class="text-white">Accueil</a></li>
        <li class="list-inline-item"><a href="{{ url_for('main.about') }}" class="text-white">À propos</a></li>
        <li class="list-inline-item"><a href="{{ url_for('main.agribot') }}" class="text-white">AgriBot</a></li>
        <li class="list-inline-item"><a href="{{ url_for('main.articles') }}" class="text-white">Articles</a></li>
        <li class="list-inline-item"><a href="{{ url_for('main.communaute') }}" class="text-white">Communauté</a></li>
      </ul>
      <div class="social-icons mb-3">
        <a href="#" class="text-white me-3" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white me-3" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </div>
      <p class="small">&copy; 2025 AgriHelper. Tous droits réservés.</p>
    </div>
  </footer>